<%- include('partials/Header.ejs') %>
    <div id="examples">
        <h1><%= title %></h1>
        <%
            let nums = [1,2,3];
            console.log(nums.length);
        %>
        <p><%= body %></p>

        <% if(locals.backend && backend.length>0){ %>
            <h2>Backend</h2>
            <ol type="I">
                <% for (var i = 0; i < backend.length; i++) { %>
                    <li><%= backend[i] %> </li>
                <% } %>
            </ol>
        <% } %>

        <% if(locals.frontend ){ %>
            <h2>FrontEnd</h2>
            <ol type="I">
                <li>
                    <%= frontend.markup || "HTML" %>
                </li>
                <li><%= frontend.styles || "CSS" %></li>
                <li><%= frontend.script || "JS" %></li>

                <li>
                    Framework
                    <ol type="a">
                        <li>
                            <%= frontend.framework.css %>
                        </li>
                        <li><%= frontend.framework.spa %></li>
                    </ol>
                </li>
            </ol>
        <% } %>
    </div>
<%- include('partials/footer.ejs') %>
<!-- Ndodemon restarts the server automatically when we loads the changes -->
